$orange: #D07D18;
$blue:#31B0D5;

@mixin padV($pad){
	padding-top: $pad;
	padding-bottom: $pad;
}
@mixin padH($pad){
	padding-right: $pad;
	padding-left: $pad;
}
@mixin marV($mar){
	margin-top: $mar;
	margin-bottom: $mar;
}
@mixin marH($mar){
	margin-right: $mar;
	margin-left: $mar;
}

.Josefina{
	font-family: 'Josefin Sans', sans-serif;
}

#home{
	padding-bottom: 10px;
	background: #000 url("../../img/stray-dog-big-city-lion.jpg") center/cover no-repeat;
	> .container-fluid{
		.navbar-fixed-top{
			background: #FFF !important;
			.navbar-header{
				.navbar-toggle{
					background:  #333 !important;
					span{
						background: #FFF !important;
					}	
				}
			}		
		}	
		.navbar{
			background: transparent;
			border: none;
			margin-bottom: 0;
			.navbar-header{
				.navbar-toggle{
					border: none;
					background: transparent;
					span{
						background: #333;
					}	
					@media screen and (max-width: 780px){
					 	margin-right: 25px;
					}
				}
				.navbar-brand{
					@include padV(0);
					img{
						height: 100%;
						width: auto;
						margin-top: 10px;
						@media screen and (max-width: 780px){
						 	margin-left: 10px;
						 	padding-bottom: 15px;
						}
						@media screen and (max-width: 780px) and (min-width: 768px){
							margin-top: 20px;
						}
					}
				}
			}
			.navbar-collapse{
				ul{
					li{
						a{
							color: #474747;
							&:hover{
								cursor: pointer;
							}
						}
						@media screen and (min-width: 768px){
						 	@include marV(10px);
						 	font-size: 20px;
						 	.active{
						 		border-top: 10px solid $orange;
						 		margin-top: -10px;
						 	}
						}
						@media screen and (max-width: 767px){
						 	@include marH(15px);
						 	.active{
						 		color: #000;
							 	background: rgba(0,0,0,.1) url(../../img/icon.png) 97%/30px no-repeat ;
						 	}
						}
					}
				}
			}
		}
	}
	header{
		padding-bottom: 250px;
		h1{
			margin-top: 150px;
			font-size: 60px;
			@extend .Josefina;
			strong{
				color: rgba(0,0,0,.6);
				span{
					color: #F7941D;
				}
			}
		}
	}
}
#sign-panel{
	.buttons{
		.btn{
			@extend .Josefina;
			font-style: normal;
			font-size: 25px;
			border-radius: 0;
			&:hover, &:focus{
				outline: none;
			}
			&:first-child{
				color: $blue;	
				background: rgba(255,255,255,.1);
				border: 2px solid  $blue; 
				&:hover{
					background: $orange;	
					color: #FFF;
					border-color: $orange;
				}
			}
			&:last-child{
				background: rgba(255,255,255,.1);	
				color: $orange;	
				border: 2px solid $orange;
				&:hover{
					background: $blue;
					color: #FFF;
					border-color: $blue;
				}			
			}	
			@media screen and (max-width: 767px){
				font-size: 20px;
				&:first-child{
					margin-top: 20px;
					margin-bottom: 5px;
				}
				&:last-child{
					margin-bottom: 20px;
				}
				
			}
			@media screen and (min-width: 768px){
				@include marV(26px);
			}	
		}		
	}
	.quote{
		@media screen and (min-width: 769px){
			@include marV(25px);
		}
		@media screen and (max-width: 768px){
			@include marV(13px);
		}
		@media screen and (max-width: 531px){
			@include marV(30px);
		}
		@media screen and (max-width: 369px){
			@include marV(18px);
		}
		p{	
			@extend .Josefina;
			font-size: 20px;
			margin-bottom: 0;
			@media screen and (max-width: 768px){
				font-size: 27px;
			}
			@media screen and (max-width: 531px){
				font-size: 18px;
			}
			@media screen and (max-width: 328px){
				font-size: 17px;
			}
		}
	}
}
#lost-found-panel{
	background-image: linear-gradient(#EAEAEA, #FFF);
	// background-image: linear-gradient( #FFF, $orange, #FFF, $blue,  #FFF);
	#lost, #found{
		@include marV(40px);
		.row{
			a{
				text-decoration: none;
			}
			h1{ 
				margin-bottom: 30px;
				font-size: 48px;
				@extend .Josefina;
				a{
					border-bottom: 1px solid  #565657;
					color: #565657;
					.orgSpan{
						color: $blue;
					}
					.blueSpan{
						color: $orange;
					}
				}
			}
			> span{
				a{
					padding: 5px 10px;
					@extend .Josefina;
					font-weight: normal;
					color: #333333;
					border: 1px solid #333;
					font-size: 16px;
					&:hover, &:focus{
						background: #333333;
						color: #FFF;
					} 
				}	
			}
			&:first-child{
				margin-bottom: 40px;
			}
			.col-sm-3, .col-xs-6{
				@media screen and (max-width: 768px){
					padding: 10px;
				}
				.square{
					display: block;
					overflow: hidden;
					@media screen and (min-width:992px){
					filter: grayscale(1);			
						&:hover{
							filter: grayscale(0);
						}
					}	
				}
				a:nth-child(2){
					display: block;
					margin: 20px;
					text-decoration: none;
					color: #333;
					@media screen and (max-width: 992px){
						display: none;
					}
				}
			}
		}
	}
}
#adoption{
	padding-top: 40px;
	background-image: linear-gradient(#EAEAEA, #FFF);
	.row{
		&:first-child{
			margin-bottom: 30px;
			h1{ 
				margin-top: 0;
				padding: 10px;
				@extend .Josefina;
				font-size: 48px;
				border-bottom: 1px solid  #565657;	
			}
			p{
				font-size: 18px;
			}
		}
		.col-sm-3, .col-xs-6{
			@media screen and (max-width: 768px){
				padding: 10px;
			}
			.square{
				display: block;
				border-radius: 50%;
				overflow: hidden;
				@media screen and (min-width:992px){
					opacity: 1;	
					&:hover{
						opacity: 0.9;
						transition: all 0.6s ease;
					}
				}
			}
			a:nth-child(2){
				p{
					margin: 0;
				}
				display: block;
				margin: 10px 10px 30px;
				text-decoration: none;
				color: #333;
			}
		}
	}
	nav{
		ul{
			margin-top: 0;
			li{
				.btn{
					font-style: normal;
					font-size: 25px;
					border-radius: 0;
					&:hover, &:focus{
					outline: none;
					}
				}
				&:first-child{
					.btn{
						color: $blue;	
						background: rgba(255,255,255,.1);
						border: 2px solid  $blue; 
						&:hover{
							background: $orange;	
							color: #FFF;
							border-color: $orange;
						}
					}
				}
				&:last-child{
					.btn{
						background: rgba(255,255,255,.1);	
						color: $orange;	
						border: 2px solid $orange;
						&:hover{
							background: $blue;
							color: #FFF;
							border-color: $blue;
						}			
					}	
				}	
			}		
		}	
	}
}
footer{
	margin-top: 20px;
	.row{
		&:first-child{
			position: relative;
			#mapouter{		
				@media screen and (max-width: 768px){
					height: 650px;
				}
				@media screen and (max-width: 450px){
					height: 700px;
				}
				#gmap_canvas{
					@media screen and (max-width: 768px){
							height: 650px;
						}
						@media screen and (max-width: 450px){
							height: 700px;
						}
					.massage{
						overflow: hidden;
						position: absolute;
						z-index: 2;
						h1{
							margin-top: 100px;
							margin-bottom: 50px;
							display: inline-block;
							@extend .Josefina;
							font-size: 48px;
							border-bottom: 1px solid  #565657;
							padding: 10px;
						}
						.form-group-lg{
							margin-bottom: 10px;
							input, textarea{
								border-radius: 0;
								border: 1px solid  $blue;
								background: rgba(255,255,255,.9);
							}
						}
						.btn{
							margin-bottom: 40px;
							padding: 0;
							height: 50px;
							border-radius: 0;
							color: $blue;	
							font-size: 18px;
							background: rgba(255,255,255,.9);
							border: 1px solid  $blue; 
							&:hover, &:focus{
								outline: none;
								background: $blue;	
								color: #FFF;
								border-color: $blue;
							}
							span,i{
								line-height: 50px;
							}
							i{
								vertical-align: middle;
							}
						}
					}
					iframe{
						opacity: 0.7;
						padding: 0;
						@media screen and (max-width: 768px){
							height: 650px;
						}
						@media screen and (max-width: 450px){
							height: 700px;
						}
					}
				}	
			}
		}
		
	}
	.footer{
			@extend .Josefina;
			font-size: 20px;
			min-height: 60px;
			background: #FFF;
			color: #333;
			line-height: 60px;
			@media screen and(max-width:466px){
				.col-sm-8{
					font-size: 14px;
				}				
			}
			i{
				vertical-align: middle;
			}
			.follow{
				span{
					margin-right: 20px;
					font-size: 24px;
				}
				a{
					color: #333;
					margin-right: 10px;
					&:hover{
						border-top: 10px solid $orange;
						transition: all 0.5s ease;
					}
				}
			}
			span{
				line-height: 60px;
			}
			address{
				margin-bottom: 0;
				a{
					text-decoration: none;
					color: $orange;
				}
			}
		}
}